# Eclipse
.classpath
.project
.settings/
 
# Intellij
.idea/
*.iml
*.iws
*.ipr

# Visual Code Studio
.vscode/

# Mac
.DS_Store
 
# Maven
log/
target/

#Gradle
.gradle/
build/

#NPM
dapp/node_modules/
