language: node_js

sudo: required

node_js:
  - "10.10.0"

cache:
  directories:
    - node_modules
    
env:
  - CXX=g++-4.8

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - build-essential
      - g++-4.8

before_install:
  - cd dapp
  - export CXX="g++-4.8"
  - npm install -g npm@latest
  - npm install -g ganache-cli truffle

install:
  - npm install 

script:
  - ganache-cli &
  - truffle test