<div *ngIf="(paper)">
  <app-invitation-join></app-invitation-join>

  <div class="card">
    <article class="card-body p-5">
      <div class="row">
        <div class="col-sm-7">
            <h3 class="title mb-3">{{paper.title}}</h3>
            <dl class="item-property">
              <dt>Abstract</dt>
              <dd><p>{{paper.abstract}}</p></dd>
            </dl>
            <dl class="item-property">
              <dt>Contributors</dt>
              <dd>
                <ul class="list-unstyled">
                  <li *ngFor="let contributor of paper.contributors">{{contributor.ethAddress}}</li>
                </ul>
              </dd>
              <app-invitations [paper]="paper"></app-invitations>
            </dl>
        </div>
        <div class="col-sm-3">
          <app-workflows [paper]="paper"></app-workflows>
        </div>
      </div>
      <a href="{{paper.publicLocation}}" target="_blank" class="btn btn-lg btn-primary"> Read </a>
    </article>
  </div>

  <div class="card mt-4">
    <article class="card-body p-5">
      <h5 class="card-title">System properties</h5>
      <div class="row">
        <div class="col-sm-12">
            <dl class="item-property">
              <dt>Ethereum Address</dt>
              <dd>{{paper.ethAddress}}</dd>
            </dl>
            <dl class="item-property">
              <dt>File System Name</dt>
              <dd>{{paper.fileSystemName}}</dd>
            </dl>
            <dl class="item-property">
              <dt>Public location</dt>
              <dd><a href="{{paper.publicLocation}}" target='_blank'>{{paper.publicLocation}}</a></dd>
            </dl> 
            <dl class="item-property">
              <dt>Summary Hash Algortihm</dt>
              <dd>{{paper.summaryHashAlgorithm}}</dd>
            </dl>
            <dl class="item-property">
              <dt>Summary Hash</dt>
              <dd>{{paper.summaryHash}}</dd>
            </dl>
        </div>
      </div>
    </article>
  </div>

  <div class="card mt-4">
      <article class="card-body p-5">
        <h5 class="card-title">Comments</h5>
        <app-comments [paper]="paper"></app-comments>
      </article>
  </div>
</div>
