<div *ngIf="(paper)">
  <div class="card">
    <article class="card-body p-5">
      <div class="row">
        <div class="col-sm-7">
            <h3 class="title mb-3">{{paper.title}}</h3>
            <dl class="item-property">
              <dt>Abstract</dt>
              <dd><p>{{paper.abstract}}</p></dd>
            </dl>
            <dl class="item-property">
              <dt>Contributors</dt>
              <!--<dd><p>{{paper.contributors}}</p></dd>-->
              <button (click)="lgModal.show()" type="button" class="btn btn-outline-secondary mx-sm-1 mb-2 clickable">+</button>
              <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="dialog-sizes-name1">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 id="dialog-sizes-name1" class="modal-title pull-left">Invitations</h4>
                      <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <app-invitations [paper]="paper"></app-invitations>
                    </div>
                  </div>
                </div>
              </div>
            </dl>
        </div>
        <div class="col-sm-3">
          <app-workflows [paper]="paper"></app-workflows>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
            <dl class="item-property">
              <dt>Ethereum Address</dt>
              <dd>{{paper.ethAddress}}</dd>
            </dl>
            <dl class="item-property">
              <dt>File System Name</dt>
              <dd>{{paper.fileSystemName}}</dd>
            </dl>
            <dl class="item-property">
              <dt>Public location</dt>
              <dd><a href="{{paper.publicLocation}}" target='_blank'>{{paper.publicLocation}}</a></dd>
            </dl> 
            <dl class="item-property">
              <dt>Summary Hash Algortihm</dt>
              <dd>{{paper.summaryHashAlgorithm}}</dd>
            </dl>
            <dl class="item-property">
              <dt>Summary Hash</dt>
              <dd>{{paper.summaryHash}}</dd>
            </dl>
            <a href="{{paper.publicLocation}}" target="_blank" class="btn btn-lg btn-primary"> Read </a>
        </div>
      </div>
    </article>
  </div>

  <div class="card mt-4">
      <article class="card-body p-5">
        <app-comments [paper]="paper"></app-comments>
      </article>
  </div>
</div>
