<section *ngIf="paperImage$ | async as paperImage" class="row clickable my-4" (click)="onClickHandle()">
  <div class="col-lg-6">
    <img class="img-fluid rounded" [src]="paperImage.imageUrl" alt="">
  </div>
  <!-- /.col-lg-8 -->
  <div class="col-lg-6">
    <h1>{{paperImage.paper.title}}</h1>
    <p>{{paperImage.paper.summary}}</p>
    <p><span class="badge badge-info">{{paperImage.paper.topic}}</span></p>
    <a class="btn btn-primary btn-lg" href="{{paperImage.paper.publicLocation}}" target='_blank'>Read!</a>
  </div>
  <!-- /.col-md-4 -->
</section>